*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*css for header section*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    background-color:hsl(352, 67%, 83%);
}
#logo{
    text-decoration: none;
    font-weight: 650;
    color:black;
}
#logo:hover{
    color: green;
}
#icon{
    margin-right: 3rem;
}

/* css for main*/
#section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#section1 img{
    width: 50%;
}
#s1{
    text-align: center;
}
#label{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(5, 218, 27);
    font-style: italic;
}
#mark{
    padding-left: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
    border: 1px solid black ;
    background-color:white;
    font-weight: bold;
    color: black;
}
#gradebtn{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 18px;
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
}
#gradebtn:hover{
    background-color: red;
}
#grade{
    color: red;
    font-weight: bolder;
    font-size: 2rem;
}

/*css for footer*/

footer{
    margin-top: 7rem ;
}
#footercard{
    background-color:hsl(353, 78%, 83%) ;
}
